 @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.font-jost{
    font-family: 'Jost', sans;
}
.font-nunito{
    font-family: 'Nunito', sans;
}
.font-plex{
    font-family: 'IBM Plex Mono', monospace;
}
.footerclass{
    display: flex;

}

.eventbutton{
    filter: drop-shadow(0 0 20px rgba(127, 127, 127, 0.5));

}

@media  only screen and (min-width: 992px) {
    .footerclass{
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 90% 0);
    }
}
@font-face {
    font-family: "Mori Gothic";
    src: url("/font/MoriGothic.ttf");
}
@font-face {
    font-family: "Neue Machina";
    src: url("/font/NeueMachina-Light.otf");
}


.fade-in-other{
    animation: fadeIn 1.5s;
}


.hero-date {
    position: absolute;
    bottom: 40px;
    left: 42px;
    width: 260px;
    opacity: 1;
    transform: none;
    max-width: 100%;
    height: auto;
    display: bnetllock;
    vertical-align: middle;

       
}

@media (max-width: 767px){
.hero-date {
    width: 158px;
    left: 0;
    right:0;
    margin-left: auto;
    margin-right:auto;
    bottom: 106px;
    animation: slideup 1s;
    


}
}
.slide-in{
    animation: slideIn 1.5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade-in-text{
    animation: fadeText 1s;
}

.fade-in-main{
        animation: fadeText 1s;

}
@keyframes fadeText {
    from {
        opacity: 0;
        transform: scale(.5, .5);
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}

.fade-in-border{
    animation: growborder 1.5s;
}

@keyframes slideIn {
    from {
        transform: translateX(400px);
    }
    to {
        transform: translateX(0);
    }
}

.fade-in-slideup{
    animation: slideup, priority infinite;
    animation-duration: 1s, 1s; 
    animation-delay: 0s, 1s;
}

.registeranim{
    backface-visibility: hidden;
    
    transform: translateZ(0);
    
    -webkit-font-smoothing: subpixel-antialiased;
}


@keyframes slideup {
    from{
        transform: translateY(100px);

    }
    to{
        transform: translateY(0px);
    }
}

@keyframes priority{
    0%
    {
transform: scale(1);
    }
    50%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1);
    }
    
}
.hero-marquee{
@media (max-width: 767px){
height: 40px;
margin-top: 20px;
}
}  




.hero-marquee{

    height: 44px;
    background-color: #000;
    border: 1px solid #ebebeb;
    border-left: none;
    border-right: none;
    display: flex;
    align-items: center;
    margin-top: 40px;
    width: 100%;
}

.marquee-container {
    overflow-x: hidden !important;
    display: flex !important;
    flex-direction: row !important;
    position: relative;
    width: 100%;
}
.marquee {
    flex: 0 0 auto;
    min-width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    animation: scroll 18.7522s linear 0s infinite;
    animation-play-state: running;
    animation-delay: 0s;
    animation-direction: normal;
}


.hero_text-wrapper{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-right: 20px;
    overflow-y: hidden;
}

@media (max-width: 767px){
.hero_marquee-text {
    font-size: 16px;
}}

.hero_marquee-text{
    font-size: 20px;
    color:#ebebeb;
    text-transform: uppercase;
    line-height: 1;
    padding-bottom: 4px;
}
@keyframes growborder {
    from {
        border: 0px solid #e8e8e8;
    }
    to{
        border: 12px solid #e8e8e8;
    }
}
